<div class="container">
		<h2 class='title'>Welcome to TicTacToe(Player '<%= session[:player_id] %>')</h2>
		<br />
		<% @cells.each_slice(3) do |r| %>
			<div class='clear'></div>
			<div class='row'>
				<% r.each_with_index do |c, i| %>
					<div class='cell' id="<%= @cells.index(c) %>" onclick="make_move(this);"><br /><%= c %></div>
				<% end %>
			</div>
		<% end %>
		<br />
		<h4 class= "title" id="label">Click any square to start.</h4>
		<br />
		<div class="row">
			<input type="button" style="height: 30px; width: 230px;" id="reset" value="New Game" onclick="window.location.href='<%= @protocol + @host %>/twoplayer'">
			<br /><br />
			<% if current_page?('/twoplayer') %> 
				<p>Send this link to player 'O' after making a move: <%= @protocol + @host %>/twoplayer/<%= @game_id %> </p>
			<% end %>
		</div>
</div>